@font-face {
	font-family: 'emaad';
	src: url('https://cdn.jsdelivr.net/gh/shakeebahmad95/EmaadNastaleeq@5058f465e32f9e91ea44e6f2ee1fa2d1a5f07a5c/urduemadnastaleeqregular1.eot');
	src: local('emaad'), url('https://cdn.jsdelivr.net/gh/shakeebahmad95/EmaadNastaleeq@5058f465e32f9e91ea44e6f2ee1fa2d1a5f07a5c/urduemadnastaleeqregular1.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/shakeebahmad95/EmaadNastaleeq@5058f465e32f9e91ea44e6f2ee1fa2d1a5f07a5c/urduemadnastaleeqregular1.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7780">Text with this font applied</p> */
.fontsforweb_fontid_7780 {
	font-family: 'emaad' !important;
}

/* Font downloaded from FontsForWeb.com */
